<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<div layout:fragment="head" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>About Charlie Zhu</title>
  <!-- End of head content specific to page -->
</div>



<div layout:fragment="body" th:remove="tag">

  <div style = "background: linear-gradient(#e66465, #9198e5);">
    <p style = "font-size: 30px; color:#f7f7f7;"> This is Charlie's About Me Page. A fun fact about me is that I have two cats! One is named Selene and the other is named Toby!</p>


    <p>
      <img alt="" th:src="@{/static/images/mountain.png}"
           style="height: 85px; width: 198px" id="imagetochange" />
    </p>


    <div>
      <!--            <label>What answer did you get?</label>-->
      <!--            <input name="name2" id="Question" placeholder="Question">-->
      <button onclick = "image_switch()" id="button2">Click to Grayscale the Image</button>
      <!-- test 4 -->
    </div>
    <script type="text/javascript">
      function image_switch(){
        if(document.getElementById("imagetochange").style.filter == ""){
          document.getElementById("imagetochange").style.filter = "grayscale(100%)";
        }
        else{

          document.getElementById("imagetochange").style.filter = ""

        }
      }


    </script>

    <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@CharlieZhu2/CSA-FRQs?lite=true"></iframe>

    <div>
      <p style = "font-size: 30px; color:rgba(170,0,255,0.94); text-align:center;">Charlie's FRQs</p>
      Question 1
      <p (1a) </br>
        if(rsvp){</br>
        System.out.println("attending");</br>
        }else if{</br>
        System.out.println("not attending");</br>
        }</br>
        (1b)</br>
        if(selection == 1){</br>
        System.out.println("beef");</br>
        }else if(selection == 2){</br>
        System.out.println("chicken");</br>
        }else if(selection == 3){</br>
        System.out.println("pasta");</br>
        }else{</br>
        System.out.println("fish");</br>
        }</br>
        (1c)</br>
        if(rsvp == false){</br>
        option1 = "Sorry you can't make it.";</br>
        }else if(rsvp){</br>
        if(selection == 1){</br>
        option1 = "Thanks for attending. You will be served beef.";</br>
        }else if(selection == 2){</br>
        option1 = "Thanks for attending. You will be served chicken.";</br>
        }else if(selection == 3){</br>
        option1 = "Thanks for attending. You will be served pasta.";</br>
        }else{</br>
        option1 = "Thanks for attending. You will be served fish.";</br>
        }}</br>
        (1d)</br>
        if(option1.equals(option2)){</br>
        System.out.println("true");</br>
        }else{</br>
        System.out.println("false");</br>
        }</br>
      </p>




    </div>






  </div>

  <!-- End of body content specific to page -->



</div>

<!-- Start of body content specific to page -->

</html>
